.dropdown-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
  }
  
  .dropdown-content.show {
    opacity: 1;
    max-height: 700px; /* Adjust as needed */
  }
  